// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
@use '~@ng-matero/extensions' as mtx;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

@import "typography/stylesheet";

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$optimal-human-primary: mat.define-palette(mat.$indigo-palette);
$optimal-human-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$optimal-human-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$optimal-human-theme: mat.define-light-theme((
  color: (
    primary: $optimal-human-primary,
    accent: $optimal-human-accent,
    warn: $optimal-human-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($optimal-human-theme);

@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/utilities/flex";
@import "~bootstrap/scss/utilities/display";
@import "~bootstrap/scss/utilities/sizing";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/utilities/text";
@import "~bootstrap/scss/utilities/borders";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/utilities/background";
@import "typography/stylesheet";

@include mat.core($calibri-typography-config);

// Fonts
@import 'https://fonts.googleapis.com/css?family=Material+Icons';

// Foreground Elements

// Light Theme Text
$dark-text: #000000;
$dark-primary-text: rgba($dark-text, 0.87);
$dark-accent-text: rgba($dark-primary-text, 0.54);
$dark-disabled-text: rgba($dark-primary-text, 0.38);
$dark-dividers: rgba($dark-primary-text, 0.12);
$dark-focused: rgba($dark-primary-text, 0.12);

$mat-light-theme-foreground: (
  base: black,
  divider: $dark-dividers,
  dividers: $dark-dividers,
  disabled: $dark-disabled-text,
  disabled-button: rgba($dark-text, 0.26),
  disabled-text: $dark-disabled-text,
  elevation: black,
  secondary-text: $dark-accent-text,
  hint-text: $dark-disabled-text,
  accent-text: $dark-accent-text,
  icon: $dark-accent-text,
  icons: $dark-accent-text,
  text: $dark-primary-text,
  slider-min: $dark-primary-text,
  slider-off: rgba($dark-text, 0.26),
  slider-off-active: $dark-disabled-text,
);

// Dark Theme text
$light-text: #ffffff;
$light-primary-text: $light-text;
$light-accent-text: rgba($light-primary-text, 0.7);
$light-disabled-text: rgba($light-primary-text, 0.5);
$light-dividers: rgba($light-primary-text, 0.12);
$light-focused: rgba($light-primary-text, 0.12);

$mat-dark-theme-foreground: (
  base: $light-text,
  divider: $light-dividers,
  dividers: $light-dividers,
  disabled: $light-disabled-text,
  disabled-button: rgba($light-text, 0.3),
  disabled-text: $light-disabled-text,
  elevation: black,
  hint-text: $light-disabled-text,
  secondary-text: $light-accent-text,
  accent-text: $light-accent-text,
  icon: $light-text,
  icons: $light-text,
  text: $light-text,
  slider-min: $light-text,
  slider-off: rgba($light-text, 0.3),
  slider-off-active: rgba($light-text, 0.3),
);

// Background config
// Light bg
$light-background: #fafafa;
$light-bg-darker-5: darken($light-background, 5%);
$light-bg-darker-10: darken($light-background, 10%);
$light-bg-darker-20: darken($light-background, 20%);
$light-bg-darker-30: darken($light-background, 30%);
$light-bg-lighter-5: lighten($light-background, 5%);
$dark-bg-tooltip: lighten(#2c2c2c, 20%);
$dark-bg-alpha-4: rgba(#2c2c2c, 0.04);
$dark-bg-alpha-12: rgba(#2c2c2c, 0.12);

$mat-light-theme-background: (
  background: $light-background,
  status-bar: $light-bg-darker-20,
  app-bar: $light-bg-darker-5,
  hover: $dark-bg-alpha-4,
  card: $light-bg-lighter-5,
  dialog: $light-bg-lighter-5,
  tooltip: $dark-bg-tooltip,
  disabled-button: $dark-bg-alpha-12,
  raised-button: $light-bg-lighter-5,
  focused-button: $dark-focused,
  selected-button: $light-bg-darker-20,
  selected-disabled-button: $light-bg-darker-30,
  disabled-button-toggle: $light-bg-darker-10,
  unselected-chip: $light-bg-darker-10,
  disabled-list-option: $light-bg-darker-10,
);

// Dark bg
$dark-background: #2c2c2c;
$dark-bg-lighter-5: lighten($dark-background, 5%);
$dark-bg-lighter-10: lighten($dark-background, 10%);
$dark-bg-lighter-20: lighten($dark-background, 20%);
$dark-bg-lighter-30: lighten($dark-background, 30%);
$light-bg-alpha-4: rgba(#fafafa, 0.04);
$light-bg-alpha-12: rgba(#fafafa, 0.12);

// Background palette for dark themes.
$mat-dark-theme-background: (
  background: $dark-background,
  status-bar: $dark-bg-lighter-20,
  app-bar: $dark-bg-lighter-5,
  hover: $light-bg-alpha-4,
  card: $dark-bg-lighter-5,
  dialog: $dark-bg-lighter-5,
  tooltip: $dark-bg-lighter-20,
  disabled-button: $light-bg-alpha-12,
  raised-button: $dark-bg-lighter-5,
  focused-button: $light-focused,
  selected-button: $dark-bg-lighter-20,
  selected-disabled-button: $dark-bg-lighter-30,
  disabled-button-toggle: $dark-bg-lighter-10,
  unselected-chip: $dark-bg-lighter-20,
  disabled-list-option: $dark-bg-lighter-10,
);

// Theme Config

body {
  --primary-color: #394155;
  --primary-lighter-color: #c4c6cc;
  --primary-darker-color: #242a3b;
  --text-primary-color: #{$light-primary-text};
  --text-primary-lighter-color: #{$dark-primary-text};
  --text-primary-darker-color: #{$light-primary-text};
}

$mat-primary: (
  main: #394155,
  lighter: #c4c6cc,
  darker: #242a3b,
  200: #394155, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);
$theme-primary: mat.define-palette($mat-primary, main, lighter, darker);

body {
  --accent-color: #eef9be;
  --accent-lighter-color: #fafdec;
  --accent-darker-color: #e7f6a7;
  --text-accent-color: #{$dark-primary-text};
  --text-accent-lighter-color: #{$dark-primary-text};
  --text-accent-darker-color: #{$dark-primary-text};
}

$mat-accent: (
  main: #eef9be,
  lighter: #fafdec,
  darker: #e7f6a7,
  200: #eef9be, // For slide toggle,
  contrast : (
    main: $dark-primary-text,
    lighter: $dark-primary-text,
    darker: $dark-primary-text,
  )
);
$theme-accent: mat.define-palette($mat-accent, main, lighter, darker);

body {
  --warn-color: #ec795f;
  --warn-lighter-color: #f9d7cf;
  --warn-darker-color: #e45c43;
  --text-warn-color: #{$dark-primary-text};
  --text-warn-lighter-color: #{$dark-primary-text};
  --text-warn-darker-color: #{$dark-primary-text};
}

$mat-warn: (
  main: #ec795f,
  lighter: #f9d7cf,
  darker: #e45c43,
  200: #ec795f, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $dark-primary-text,
  )
);
$theme-warn: mat.define-palette($mat-warn, main, lighter, darker);
;

$theme: (
  primary: $theme-primary,
  accent: $theme-accent,
  warn: $theme-warn,
  is-dark: false,
  foreground: $mat-light-theme-foreground,
  background: $mat-light-theme-background,
);
$altTheme: (
  primary: $theme-primary,
  accent: $theme-accent,
  warn: $theme-warn,
  is-dark: true,
  foreground: $mat-dark-theme-foreground,
  background: $mat-dark-theme-background,
);

// Theme Init
@include mat.all-component-themes($theme);

@include mat.button-typography($sf-typography-config);
@include mat.chips-typography($sf-typography-config);
@include mat.button-toggle-typography($sf-typography-config);

@include mtx.all-component-themes($theme);
@include mtx.all-experimental-component-themes($theme);

.theme-alternate {
  @include mat.all-component-themes($altTheme);
}

// Specific component overrides, pieces that are not in line with the general theming

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Calibri', sans-serif;
}

table.mat-table {
  th.mat-header-cell {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.1px;
    color: #9E9E9E;
  }
}

@mixin matOhButtonScheme {
  border-radius: 8px !important;
  line-height: 40px !important;
}

// Handle buttons appropriately, with respect to line-height
.mat-button, .mat-stroked-button, .mat-flat-button {
  @include matOhButtonScheme();
  min-width: 100px !important;
}

.mat-icon-button {
  @include matOhButtonScheme();

}

.mat-standard-chip {
  min-height: 22px !important;
}

.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
  line-height: 36px !important;
}

@keyframes fadeFromBottom {
  0% {
    transform: translate(0, 5px) skewY(2deg) scale(0.95);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0) skewY(0deg) scale(1);
    opacity: 1;
  }
}

@keyframes fadeFromTop {
  0% {
    transform: translate(0, -5px) skewY(2deg) scale(0.95);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0) skewY(0deg) scale(1);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

* {
  box-sizing: border-box;
}

.text-color {
  &__primary {
    color: var(--primary-color);

    &--light {
      color: var(--primary-lighter-color);
    }
  }

  &__error {
    color: #ec795f !important;
  }

  &__success {
    color: #00C853 !important;
  }
}

.oh-logo {
  animation: fadeFromBottom 0.3s ease-in forwards;


  &__text {
    color: white;
    font-size: 20px;
    line-height: 0px;
    text-align: center;
    letter-spacing: -0.7px;
    animation: fadeFromTop 0.3s ease-in forwards;
  }

  &__con {
    max-width: 60%;
    margin: 80px + 20px auto;
  }
}

.mat-chip {
  padding: 6px 12px;
  font-size: 14px;
  line-height: 21px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.25px;

  &--success {
    background: #ECF9F3 !important;
    color: #00C853 !important;
  }

  &--error {
    background: #FCE7E7 !important;
    color: #ec795f !important;
  }

  &--primary {
    color: var(--primary-darker-color) !important;
    background-color: var(--accent-color) !important;
  }
}

.cursor {
  &__pointer {
    cursor: pointer;
  }
}

.mat-select-arrow {
  margin-top: 6px !important;
}

.row-react {
  transition: all .4s cubic-bezier(.17,.67,.83,.67);

  &:hover, &.active
  {
    background-color: #e0e0e0;
  }
}

.content-container {
  max-height: 100vh;
  overflow-y: auto;
  padding: 0 0.4rem;
  margin: 0.55rem 0 0;
}

.mat-form-field-wrapper{
  margin-bottom: 15px;
}
.mat-error{
  margin-top: 5px;
}

.mat-tooltip {
  margin-top: -5px !important;
}
